.popup {
  font-family: 'Inter', Arial, Helvetica, sans-serif;
  font-style: normal;
  width: 100%;
  height: 100%;
  position: fixed;
  background-color: rgba(0, 0, 0, 0.5);
  left: 0;
  top: 0;
  display: none;
}
