.header {
  max-width: 68.75%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 41px;
  font-family: 'Inter', Arial, Helvetica, sans-serif;
  font-style: normal;
}

@media screen and (max-width: 568px) {
  .header {
    max-width: 100%;
    gap: 31px;
  }
}
