/* Подключил Normalize */
@import url(../vendor/normalize.css);

/* Подключил Шрифты */
@import url(../vendor/fonts/fonts.css);

/* Подключил стили к Обёртке */
@import url(../blocks/wrapper/wrapper.css);

/* Подключил стили к Странице */
@import url(../blocks/page/page.css);

/* Подключил стили к Шапке */
@import url(../blocks/header/header.css);
@import url(../blocks/header/__logo/header__logo.css);
@import url(../blocks/header/__line/header__line.css);

/* Подключил стили к Контенту */
@import url(../blocks/content/content.css);

/* Подключил стили к секции Профиль */
@import url(../blocks/profile/profile.css);
@import url(../blocks/profile/__avatar/profile__avatar.css);
@import url(../blocks/profile/__image/profile__image.css);
@import url(../blocks/profile/__info/profile__info.css);
@import url(../blocks/profile/__wrapper/profile__wrapper.css);
@import url(../blocks/profile/__name/profile__name.css);
@import url(../blocks/profile/__edit-button/profile__edit-button.css);
@import url(../blocks/profile/__signanure/profile__signature.css);
@import url(../blocks/profile/__add-button/profile__add-button.css);

/* Подключил стили к секции Элементы */
@import url(../blocks/elements/elements.css);
@import url(../blocks/element/element.css);
@import url(../blocks/element/__image/element__image.css);
@import url(../blocks/element/__wrapper/element__wrapper.css);
@import url(../blocks/element/__title/element__title.css);
@import url(../blocks/element/__heart/element__heart.css);

/* Подключил стили к Подвалу */
@import url(../blocks/footer/footer.css);
@import url(../blocks/footer/__copyright/footer__copyright.css);

/* Подлкючил стили к Попапу */
@import url(../blocks/popup/popup.css);
@import url(../blocks/popup/__container/popup__container.css);
@import url(../blocks/popup/__fields/popup__fields.css);
@import url(../blocks/popup/__title/popup__title.css);
@import url(../blocks/popup/__input-name/popup__input-name.css);
@import url(../blocks/popup/__input-signature/popup__input-signature.css);
@import url(../blocks/popup/__save-button/popup__save-button.css);
@import url(../blocks/popup/__close-button/popup__close-button.css);
